@page "/arenas"
@inherits MainPageBase
@inject IBaseService _service
@inject ISnackbar _snackbar

<h3>Arenas</h3>
<MudDataGrid Items="@arenas">
    <Columns>
        <Column T="ArenaDto" Field="ArenaName" Title="Arena Name" />
        <Column T="ArenaDto" Field="Id" />
    </Columns>
</MudDataGrid>

@code {
    private List<ArenaDto> arenas = new();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        ErrorOr<IEnumerable<ArenaDto>> result = await _service.Get<IEnumerable<ArenaDto>>($"arenas");
        
        if (result.IsError)
        {
            _snackbar.Add(result.FirstError.Description, Severity.Error);
        }
        else if (result.Value is not null)
        {
            arenas = result.Value.ToList();
        }
    }
}
