@page "/sports"
@inject IBaseService _service
@inject ISnackbar _snackbar
<h3>Sports</h3>
<MudDataGrid Items="@sports">
    <Columns>
        <Column T="SportMinimalDto" Field="SportName" Title="Sport Name" />
        <Column T="SportMinimalDto" Field="Id" />
    </Columns>
</MudDataGrid>

@code {
    private IEnumerable<SportMinimalDto> sports = Enumerable.Empty<SportMinimalDto>();

    protected override async Task OnInitializedAsync()
    {
        ErrorOr<IEnumerable<SportMinimalDto>> result = await _service.Get<IEnumerable<SportMinimalDto>>("sports");
        if (result.IsError)
        {
            _snackbar.Add(result.FirstError.Description, Severity.Error);
        }
        else
        {
            sports = result.Value;
        }
    }

    private async Task HandleSportClick(string sportId)
    {
        ErrorOr<IEnumerable<LeagueDto>> result = await _service.Get<IEnumerable<LeagueDto>>($"leagues/getBySportId/{sportId}");
        if (result.IsError)
        {
            _snackbar.Add(result.FirstError.Description, Severity.Error);
        }
        else
        {
            foreach (var league in result.Value)
            {
                _snackbar.Add($"{league.Code} - {league.Name}", Severity.Normal);
            }
        }
    }
}
